[submodule "upstream/codemirror"]
	path = upstream/codemirror
	url = https://github.com/codemirror/CodeMirror.git
[submodule "upstream/svgedit"]
	path = upstream/svgedit
	url = https://github.com/SVG-Edit/svgedit.git
[submodule "upstream/matter"]
	path = upstream/matter
	url = git@github.com:liabru/matter-js.git
[submodule "x3dom"]
	path = x3dom
	url = https://github.com/x3dom/x3dom.git
